<section id="config" class="surface-a20">
    <section class="surface-a30 card">
        <h3>Themes</h3>
            <button id="light" class="small-button inactive-button">Light</button>
            <button id="dark"  class="small-button ">Dark</button>
    </section>
    

    <section class="surface-a30 card">
        <h3>Dimensions</h3>

            <label>Font Size</label>
            <input id="fontSize" type="number" min="8" max="30" step="1" value="14">
            <label>Ratio</label>
            <input id="sizeScale" type="number" min="1" max="2" step="0.1" value="1.5">
        </section>

            <section class="surface-a30 card">
        <h3>Colors</h3>
       
        
                <label>Primary color</label><input id="primaryColor" type="color"  value="#09e163">
            
       
             <label>Secondary color</label><input id="secondaryColor" type="color" value="1.5">
       
     </section>
    
</section>

<section id="demo" class="surface-a0">
    <h1>CSS Style <small>header 1</small></h1>
    <section class="grid">
        <article class="tone-surface-a0">
                <h1>Texts <small>(header 1 primary article)</small></h1>
                <hr>
                <h2>Header 2</h2>
                <h3>Header 3</h3>
                <h4>Header 4</h4>
                
                <p>
                    Par default les balise <b class="colored">&lt;article&gt;</b> vont diminuer la typo des titres de ratio, 
                    ce qui d'avoir des niveaux de titre différent quand on imbrique de
                  <b class="colored">&lt;article&gt;</b> les un dans les autres en utilisant toujours
                   <b class="colored">&lt;h1&gt;</b> comme titre de l'article.</p>
                <p>
                    Les <b class="colored">&lt;article&gt;</b> ici montrent cette fonctionnalité, 
                    l'<b class="colored">&lt;article&gt;</b> ci dessou possède un <b class="colored">&lt;h1&gt;</b>.
                </p>
                <article class="surface-a20">
                    <h1>Header 1 <small>(sub-article)</small></h1>
                    <h2>Header 2</h2>
                <p>Lorem ipsum dolor sit amet <b class="colored">consectetur adipisicing</b> elit. Doloribus accusantium laborum maxime facere provident adipisci officia necessitatibus repellat illo? Tempora iste molestias enim facere ex laudantium maiores porro labore cupiditate?</p>
                </article>
                
       
        </article>
        <article class="surface-a10">
                <h1>Inputs</h1>
                <hr>
                <h2>Buttons</h2>
                <button>Button</button>
                <button class="inactive-button">Inactive Button</button>
                <button class="small-button">Small-button</button>
                <button class="inactive-button small-button">Inactive small -Button</button>
                <h2>Inputs</h2>
                <label >Lorem</label>
                <input class="tone-surface-a20" value="Value"><br>

                 <label >Lorem</label>
                <input  value="Value">

        </article>
        <article class="surface-a50 bottom backgrounds">
                <h1>Backgrounds classes</h1>
                <hr>
                 <article class="tone-surface-a0" >
                    <h2>tone-surface-a0</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="tone-surface-a10" >
                    <h2>tone-surface-a10</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="tone-surface-a20" >
                    <h2>tone-surface-a20</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="tone-surface-a30" >
                    <h2>tone-surface-a30</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="tone-surface-a40" >
                    <h2>tone-surface-a40</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="tone-surface-a50" >
                    <h2>tone-surface-a50</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>


                                <article class="surface-a0" >
                    <h2>surface-a0</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="surface-a10" >
                    <h2>surface-a10</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="surface-a20" >
                    <h2>surface-a20</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="surface-a30" >
                    <h2>surface-a30</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="surface-a40" >
                    <h2>surface-a40</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="surface-a50" >
                    <h2>surface-a50</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>



                <article class="primary-a0" >
                    <h2>primary-a0</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="primary-a10" >
                    <h2>primary-a10</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="primary-a20" >
                    <h2>primary-a20</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="primary-a30" >
                    <h2>primary-a30</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="primary-a40" >
                    <h2>primary-a40</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

                 <article class="primary-a50" >
                    <h2>primary-a50</h2>
                    <p>Text <b>bold</b></p>
                    <p class="colored">Colored text <b>bold</b></p>
                </article>

            </article>
    </section>
    
</section>