<h1>HelloWorld</h1>
<section>
    <article class="tone-surface-a10">
        <h1>Controller Grettings</h1>
        <p>the Controller and it's View said Hello!</p>
        <button>Ask model to say hello</button>
         <article id="modelResponse" class="tone-surface-a0">
        <h1>Model Response</h1>
        <p></p>
        <ul id="listOne">
            <li class="list"></li>
            <li class="list"></li>
            <li class="list"></li>
        </ul>
        <ul id="listTwo">
            <li class="list"></li>
            <li class="list"></li>
            <li class="list"></li>
        </ul>
    </article>
    </article>


   
</section>
